@use "../helpers/variables" as *;

//start footer
.footer {
    background-color: #eee;
    overflow: hidden;
    padding-bottom: 40px;
    .box {
        float: $float-l;
        h3 {
            margin: 40px 0 25px;
            font-size: 22px;
        }
        &.blog {
            @media #{$mobile-screen} {
                text-align: center;
            }
            @media #{$medium-screen} {
                width: 100%;
            }
            @media #{$large-screen} {
                width: 54%;
            }
            .blog-content {
                width: 100%;
                margin-bottom: 40px;
                @media #{$mobile-screen} {
                    margin-bottom: 25px;
                }
                .img {
                    width: 20%;
                    border: 5px solid $textColor;
                    height: 120px;
                    float: $float-l;
                    margin-right: 3%;
                    padding: 4px;
                    @media #{$mobile-screen} {
                        margin: 0 auto 15px;
                        float: none;
                    }
                    img {
                        max-width: 100%;
                        height: 100%;
                    }
                }
                .blog-desc {
                    width: 77%;
                    float: $float-l;
                    @media #{$mobile-screen} {
                        margin: 0 auto;
                        float: none;
                    }
                    h4 {
                        margin: 5px 0;
                        color: $mainColor;
                        font-weight: bold;
                        font-size: 18px;
                    }
                    
                }
            }
        }
        p {
            margin: 0;
            line-height: 1.7;
            color: $textColor;
        }
        &.company-details {
            @media #{$mobile-screen} {
                text-align: center;
                float: none;
            }
            @media #{$medium-screen} {
                width: 50%;
            }
            @media #{$large-screen} {
                width: 20%;
                margin-left: 3%;
            }
            p {
                margin-bottom: 15px;
                &:nth-child(2) span {
                    color: $mainColor
                }
                &:nth-child(3) span {
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }
        &.contact-us {
            @media #{$mobile-screen} {
                margin: 0 auto;
                width: 60%;
                text-align: center;
                float: none;
            }
            @media #{$medium-screen} {
                width: 50%;
            }
            @media #{$large-screen} {
                width: 20%;
                margin-left: 3%;
            }

            input,
            textarea {
                min-width: 100%;
                background-color: white;
                margin-bottom: 15px;
                border: none;
                padding: 10px;
                border-radius: 15px;
                &::placeholder {
                    color: $textColor
                }
                
            }
            textarea {
                max-width: 100%;
                min-height: 150px;
            }
        }
    }
}

//end footer