//media query vars
$mobile-screen: "(max-width:767px)";
$medium-screen: "(min-width:768px)";
$large-screen: "(min-width:992px)";
$xl-screen: "(min-width:1200px)";

//colors
$mainColor: #e2494c;
$textColor: #9c9c9c;

//floating
$float-l: left;
$float-r: right;